# Секреты
appsecrets.json
appsecrets.*.json
!appsecrets.template.json

## --- [ Общие артефакты компиляции ] ---
[Bb]in/
[Oo]bj/
# Артефакты публикации
publis*/

## --- [ Visual Studio ] ---
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest

## --- [ JetBrains Rider / IntelliJ ] ---
.idea/
*.sln.iml

## --- [ NuGet пакеты ] ---
*.nupkg
# Папка packages если используется старый формат (packages.config)
packages/

## --- [ Специфичное для твоего проекта (LMP) ] ---
Downloads/

# Игнорируем сторонние бинарники (yt-dlp и ffmpeg)
# Их лучше скачивать отдельно или через скрипт, а не хранить в Git
yt-dlp.exe
ffmpeg.exe
ffprobe.exe

## --- [ Операционная система ] ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# macOS
.DS_Store

## --- [ Логи и временные файлы ] ---
*.log
*.tmp

FodyWeavers.xsd